.headline {
	font-size:1.9rem;
	font-weight: 300;
	color: $mainPink;
	@mixin atSmall{
		font-size:2.875rem;
	}
	
	&--small{
		font-size:1.2rem;
		@mixin atSmall{
		font-size:1.875rem;
		}
	}
	&--smaller{
		font-size:0.9375rem;
		@mixin atSmall{
		font-size:1.25rem;
		}
	}
	&--b-margin-small{
		margin-bottom: .5em;
	}
	&--b-margin-large{
		margin-bottom: 1.6em;
	}
	&--no-t-margin{
		margin-top:0;
	}
}